# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore `bin` dir
bin/
# or
*/bin/*

# Ignore *.swp .txt .log archieve files .gz .zst .tar etc
*.txt
*.log
*.gz
*.zst
*.tar
*.tar.gz
*.gzip
*.swp
